%header.jumbotron
  .container
    .row
      .hero-icon.col-md-2
        = image_tag "key-white.svg", alt: "The WhisperKey", class: "logo-marq" 
      .hero-type.col-md-10
        %h1.logo-type
          WhisperKey
          %span.domain> .io
        %p.lead 
          Send &amp; receive 
          %span.txt secure messages
          in the browser
      
    #journey-cta
      .row
        .col-md-10.col-md-offset-2
          .form-group
            = link_to "Receive a secure message", new_user_path, class: "btn btn-primary"
            = link_to "Send a secure message", users_path, class: "btn btn-info"


%section.container
  .row
    .col-md-6
      #about
        %h2 How does it work?

        %p
          WhisperKey uses
          = link_to "public-key cryptography", "https://en.wikipedia.org/wiki/Public-key_cryptography", target: "_blank"
          to encrypt and decrypt messages without the unencrypted
          content or security keys
          %em ever leaving your machine.

        %p
          It is important to understand that while WhisperKey may be useful to
          you, it makes
          %em
            no
          guarantee of security, and you should always thoroughly evaluate any
          tool or service before trusting it with your sensitive information.

        %p
          = succeed "." do
            = link_to "Find out more", about_path


    .col-md-5.col-md-offset-1
      %aside#pixies
        %h3 
          Made by 
          %a{href: "http://pixielabs.co.uk", target: "_blank"} Pixie Labs
        %p
          We made this because we wanted a service that we would trust
          with our own passwords and sensitive messages, and sending them via
          email makes us nervous.
        - if AppConfig.opensourced
          %p 
            We’ve made this project open source so you can examine how it works
            and feel confident in using it. For the daring or truly paranoid,
            you could even host it yourself.
          %p
            = link_to "WhisperKey source code", "http://github.com/pixielabs/whisper-key"
        - else
          %p
            We’re nearly ready to open source WhisperKey, check back soon for 
            updates.
